nav {
   display: flex;
   justify-content: space-between;
   padding: 0 30px;
   height: 50px;
   align-items: center;
   background-color: black;
   color: white;
   font-size: large;
   font-weight: bold;
}
a {
   text-decoration: none;
   color: white;
   padding: 1px 10px;
   margin: 0 10px;
   border: 2px solid blue;
   border-radius: 30px;
   background-color: blue;
}

a:nth-child(2) {
   background-color: rgb(19, 195, 186);
   border-color: rgb(19, 195, 186);
}
